<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.banner_image.key if @list.banner_image.attached? %>')"
>
  Cool article
</div>

<p>List: <%= @list.name %><br></p>
<% @movies.each do |movie| %>
<p>Movie: <%= movie.title %><br></p>
<p>Overview: <%= movie.overview %><br></p>
<img src= '<%= movie.poster_url %>' alt="#", style="width: 200px">
<%= button_to 'Destroy bookmark', bookmark_path(movie.bookmark_ids.first), method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>

<%= button_to "Delete list", list_path(@list), method: :delete %><br><br>
<%= link_to "Bookmark a movie", new_list_bookmark_path(@list) %><br>

<img src="https://res.cloudinary.com/dtqkkwqsx/image/upload/fl_preserve_transparency/v1723201201/o58flzxbivn12n0bo9in.jpg?_s=public-apps", width=300, height=auto>

<% if @list.banner_image.attached? %>
  <%= cl_image_tag @list.banner_image.key, height: 300, width: 400, crop: :fill %>
<% end %>
